#root {
  height: 100%;

}

body {
  background-color: #EAEDED;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}

.session-form {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.login-img,
.signup-img {
  height: 100px;
  width: 220px;
  padding-bottom: 20px;
}

.login-form,
.signup-form {
  width: 400px;
  height: 350px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid lightgray;
  box-shadow: 0px 1px 2px grey;
}

.login-title,
.signup-title {
  font-size: 30px;
  padding-bottom: 20px;
}

.email-input,
.password-input,
.first-name-input,
.last-name-input,
.signup-email-input,
.password-email-input {
  background-color: #E8F0FE;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 97%;
  height: 30px;
  padding: 5px;
  font-size: 18px;
}

.email-input:focus,
.password-input:focus,
.first-name-input:focus,
.last-name-input:focus,
.signup-email-input:focus,
.password-email-input:focus {
  outline: none !important;
  border: 2px solid #f0c14b;
  box-shadow: 0px 0px 10px #f0c14b;
}

.sign-in-btn,
.login-demo,
.signup-btn {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
  height: 35px;
  background-color: #f0c14b;
  box-shadow: 0px 1px 2px grey;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.sign-in-btn:hover,
.login-demo:hover,
.signup-btn:hover {
  cursor: pointer;
  background-color: #d8ad43;
}

.new-title {
  flex-direction: column;
  width: 350px;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  text-align: center;
}

.login-signup-btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
}

.signup {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.signup-form {
  height: 100%;
}

.already-have-account {
  font-size: 18px;
}

.signup-login-btn {
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.signup-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-top {
  background-color: #131A22;
  color: white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-container {
  width: 160px;
  padding-left: 20px;
}

.nav-logo {
  width: 150px;
  padding: 5px;
}

.nav-location-container {
  display: flex;
  align-items: center;
}

.nav-deliver-to-user {
  font-size: 16px;
  width: 140px;
}

.nav-location-img {
  height: 20px;
  width: 17px;
  margin-top: 10px;
  margin-right: 2px;
}

.nav-deliver-to-city {
  font-size: 17px;
  font-weight: bolder;
}

.nav-search-container {
  display: flex;
}

.searchbar-form {
  width: 100%;
  min-width: 400px;
  display: flex;
  height: 40px;
}

.searchbar-input {
  width: 100%;
  border-radius: 5px;
}

.searchbar-input:focus {
  outline: none !important;
  border: 2px solid #f0c14b;
  box-shadow: 0px 0px 10px #f0c14b;
}

.nav-flag-container {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-flag-img {
  width: 60px;
  height: 60px;
}

.nav-login {
  width: 200px;
  display: flex;
  text-decoration: none !important;
}

.greeting-link {
  text-decoration: none!important;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.nav-name {
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
  margin-right: -200px;
}

.nav-greeting-container {
  width: 150px;
  display: flex;
  margin-right: -10px;
}

.nav-hello {
  font-size: 16px;
}

.nav-greeting-links {
  display: block;
}

.nav-greeting {
  display: inline-block;
}

.nav-logout-btn {
  background-color: transparent;
  border: 0px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-left: -5px;
}

.nav-logout-btn:hover,
.greeting-link:hover {
  cursor: pointer;
  color: #d8ad43;
}

.nav-returns-orders-container {
  width: 90px;
  display: flex;
  flex-direction: column;
}

.nav-returns {
  font-size: 16px;
}

.nav-orders {
  font-weight: bolder;
  font-size: 17px;
}

.nav-cart-container {
  width: 100px;
  display: flex;
  align-items: flex-end;
}

.nav-cart-img {
  width: 35px;
}

.nav-cart-counter {
  font-size: 24px;
  font-weight: bold;
  color: #F08804;
  z-index: 100;
  position: absolute;
  margin-left: 40px;
  margin-bottom: 18px;
  
}

.nav-cart-word {
  font-size: 17px;
  font-weight: bolder;
  margin-left: 2px;
}

.nav-categories {
  background-color: #232F3E;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30px;
  text-decoration: none !important;
}

.nav-categories {
  cursor: pointer;
}

.nav-all {
  text-decoration: none !important;
  color: white;
}

.prod-index-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.prod-grid-container {
  max-width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.prod-box-container {
  width: 25%;
  display: flex;
  padding: 20px;
  margin: 20px;
  flex-direction: column;
  justify-content: center;  
  border-bottom: 1px solid lightgray
}

.num-results-container {
  width: 90%;
  font-size: 22px;
  margin: auto;
  border-bottom: 1px solid lightgray;
  padding: 40px 0 20px 0;
  }

.prod-box-img-container {
  height: 240px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
}

.prod-box-img {
  max-width: 230px;
  max-height: 230px;
}

.prod-title-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  line-height: 20px;
}

.prod-title-link:hover {
  color: #B12704;
}

.prod-rating {
  display: flex;
  font-size: 14px;
  margin-top: 5px;
  align-items: center;
}
.prod-price {
  color: #B12704;
  font-size: 18px;
  display: flex;
  margin-top: 5px;
  align-items: flex-start;
}

.prod-prime {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
}

.prod-prime-img {
  height: 15px;
  width: 55px;
  margin: 2px 5px 0 0;
}

.prod-free-ship {
  margin-top: 1px;
  color: #565959;
}

.prod-get-soon {
  margin-top: 3px;
  color: #565959;
}

.home-prod-link:hover {
  cursor: pointer
}

.home-grid {
  padding: 20px;
}

.footer-container {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-back-to-top {
  background-color: #37475A;
  display: flex;
  font-size: 15px;
  height: 35px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-back-to-top:hover {
  cursor: pointer;
  background-color: #4B596A;
}

.footer-links-container {
  background-color: #232F3E;
  height: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.footer-logo {
  height: 40px;
  width: 80px;
  margin-left: 30px;
  margin-right: 30px;
}

.footer-img {
  height: 40px;
  width: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

.footer-bottom {
  height: 70px;
  background-color: #131A22;
  align-items: center;
  justify-content: center;
}

.footer-description {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product-container {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 200px;
  justify-content: center;
}

.prod-img-container {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.prod-details {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.product-img {
  max-width: 80%;
  max-height: 50vh;
  margin-top: 20px;
}

.prod-img-home {
  display: flex;
  height: 200px;
  width: auto;
  margin: 20px;
}

.product-about {
  flex-direction: column;
  display: flex;
  margin: 20px 40px 0px 0px;
  width: 30%;
  border-bottom: 1px solid lightgray;
}

.product-name {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-rating {
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #007185;
  border-bottom: 1px solid lightgray;
}

.product-price-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.product-price {
  display: flex;
  color: #B12704;
  font-size: 20px;
}

.prime {
  display: flex;
  height: 18px;
  padding-left: 10px;
  padding-right: 5px;
}

.product-free-returns {
  display: flex;
  color: #007185;
  font-size: 15px;
  margin-top: 1px;
}

.product-desc-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.product-description {
  font-size: 16px;
  line-height: 30px;
}

.product-checkout {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: transparent;
  padding: 20px;
  box-shadow: 0px 1px 2px grey;
  height: fit-content;
  width: 240px;
  margin-right: 50px;
}

.product-checkout-price {
  color: #B12704;
  font-size: 20px;
  padding-bottom: 10px;
}

.product-checkout-prime {
  width: 100%;
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
}

.prime-checkout {
  height: 15px;
  padding-right: 5px;
  display: inline-block;
  margin-bottom: -3px;
}

.product-checkout-free-returns {
  color: #007185;
  font-size: 15px;
  display: inline-block;
}

.product-date{
  display: block;
  padding-top: 10px;
}

.product-free-delivery {
  color: #007185;
  font-size: 14px;
  display: inline-block;
}

.product-ship-date {
  font-weight: bold;
  display: inline-block;
  padding-left: 5px;
}

.product-delivery {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.prod-deliver-loc {
  font-size: 14px;
  color: #007185;
  display: inline-block;
  padding-left: 5px;

}

.product-checkout-location-img {
  height: 15px;
  display: inline-block
}

.product-checkout-delivery {
  color: #007185;
  font-size: 12px;
  padding-bottom: 10px;
}

.product-stock {
  font-size: 18px;
  color: #007600;
  padding-top: 10px;
  padding-bottom: 15px
}

#qty {
  border-radius: 8px;
  background-color: #F0F2F2;
  border: 1px solid #D5D9D9;
  box-shadow: 0px 1px 2px grey;
  padding: 2px;
}

.product-add-to-cart {
  width: 80%;
  height: 35px;
  border-radius: 8px;
  background-color: #FFD814;
  box-shadow: 0px 2px 4px grey;
  padding: 5px;
  border: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-buy-now {
  width: 80%;
  height: 35px;
  border-radius: 8px;
  background-color: #FF9900;
  box-shadow: 0px 2px 4px grey;
  padding: 5px;
  border: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.secure-container {
  margin-top: 10px;
  display: block;
}

.lock-img {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-bottom: -2px;
}

.secure-trans {
  font-size: 14px;
  display: inline-block;
  padding-left: 5px;
  color: #007185;

}

.product-add-to-cart:hover,
.product-buy-now:hover {
  cursor: pointer;
}

.atc, 
.buy-now {
  padding-top: 15px;
}

.product-ship-sold-container {
  padding-top: 40px;
  padding-bottom: 20px;
  justify-content: center;
  font-size: 12px;
  color: #565959;
}

.product-return-container {
  display: block;
}

.return-policy {
  color: #565959;
  display: inline-block;
}

.return-date {
  color: #007185;
  display: inline-block;
  padding-left: 5px;
}

.review-container {
  display: block;
  padding: 50px 20px 20px 50px;
  margin: 0px 50px 50px 50px;
  border-top: 1px solid lightgray;
}

.write-review-container {
  float: left;
  flex-direction: column;
  width: 400px;
  position: relative;
}

.review-index-container {
  display: block;
  float: left;
  padding-left: 15%;
}

.review-this-product {
  font-size: 24px;
  font-weight: bold;
  display: flex;
}

.share-your-thoughts {
  padding-bottom: 20px;
  font-size: 16px;
  display: flex;
  padding-top: 10px;

}

.product-new-review-btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 0px;    
  box-shadow: 0px 2px 4px grey;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.write-review-link {
  text-decoration: none;
  font-size: 18px;
}

.review-item {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid lightgray;
}

.reviews-headline {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.review-row-one {
  display: block;
}

.review-rating {
  display: inline-block;
  margin-right: 5px;
}

.review-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.review-date {
  color: #565959;
  font-size: 14px;
  margin-bottom: 5px;
}

.review-row-two {
  display: block;
  margin-bottom: 10px;
}

.review-size {
  font-size: 14px;
  color: #565959;
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid lightgray;
}

.verified-purchase {
  font-size: 12px;
  font-weight: bold;
  color: #c45500;
  display: inline-block;
}

.review-body {
  font-size: 14px;
  margin-bottom: 10px;
}

.review-randomnum {
  color: #565959;
  font-size: 14px;
  margin-bottom: 5px;
}

.review-row-three {
  display: block;
}

.helpful {
  display: inline-block;
}

.helpful-btn {
  background-color: transparent;
  border: 1px solid #D5D9D9;
  border-radius: 8px;
  box-shadow: 0px 1px 2px grey;
  padding: 5px 15px 5px 15px;
}

.helpful-btn:hover, 
.report:hover {
  cursor: pointer;
}

.report {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid lightgray;
  display: inline-block;
}

.cart-container {
  background-color: #EAEDED;
}

.cart-left {
  background-color: white;
  float: left;
  display: flex;
  margin: 0px 30px 0px 30px;
  padding: 20px;
  flex-direction: column;
  width: 70%;
  box-shadow: 0px 2px 4px grey;
  margin-bottom: 20px;
}

.cart-header {
  display: flex;
  height: 50px;
  padding-bottom: 10px;
  flex-direction: column;
}

.cart-heading {
  font-size: 34px;
  font-weight: bold;
  justify-content: left;
  display: flex;
}

.cart-price {
  font-size: 28px;
  font-weight: bold;
  display: flex;  
  justify-content: flex-end;
  padding-bottom: 40px;
  padding-right: 10px;
}

.checkout-product-item {
  display: flex;
  border: 1px solid lightgray;
  margin-top: 15px;
  flex-direction: column;
}

.cart-empty {
  font-size: 30px;
  font-weight: bold;  
  padding: 10px;  
}

.cart-item-container {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  border-bottom: 1px solid lightgray;
}

.cart-item-left {
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.cart-item-prod-links {
  display: block;
}

.cart-item-details {
  width: 100%;
}

.cart-item-title {
  width: 90%;
  text-decoration: none;
  color: black;
  font-size: 22px;
  display: flex;
}

.cart-item-img-container {
  display: flex;
  height: 200px;
  width: 200px;
  margin-right: 20px;
  justify-content: center;  }

.cart-item-img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.cart-item-info {
  flex-direction: column;
}

.cart-item-prod-price {
  font-size: 18px;
  padding-top: 10px;
}

.cart-item-right {
  display: flex;
}

.cart-item-subtotal {
  font-size: 20px;
}

.cart-item-stock {
  color: #007600;
  padding-top: 5px;
}

.cart-item-prime {
  padding-top: 5px;
  display: flex;
}
.cart-prime-img {
  height: 14px;
  padding-right: 5px;
}

.cart-free-returns {
  color: #007185;
}

.cart-gift {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}

.cart-gift-text {
  padding-top: 2px;
  font-size: 12px;
}

.cart-item-quantity {
  padding-bottom: 20px;
  display: flex;
}

.cart-qty {
  border-radius: 8px;
  background-color: #F0F2F2;
  box-shadow: 0px 2px 4px grey;
  padding: 3px;
}

.cart-item-delete,
.cart-item-save-for-later {
  border: 0px;
  color: #007185;
  background-color: transparent;
}

.cart-item-delete:hover,
.cart-item-save-for-later:hover {
  cursor: pointer;
  text-decoration: underline;
}

.cart-item-delete {
  margin-left: 10px;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.cart-subtotal-container {
  display: flex;
  font-size: 24px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  justify-content: flex-end;
}

.cart-checkout-container {
  display: flex;
}

.cart-right {
  background-color: white;
  display: flex;
  width: 300px;
  height: fit-content;
  margin: 30px;
  box-shadow: 0px 2px 4px grey;
}

.cart-checkout-container {
  width: 100%;
  padding: 20px;
  flex-direction: column;
  justify-content: center;  
}

.cart-checkout-subtotal {
  font-size: 20px;
  padding-bottom: 10px;
}

.cart-right-gift {
  display: flex;
  padding-bottom: 20px;
}

.cart-right-gift-text {
  font-size: 16px;
}

.cart-checkout-btn {
  background-color: #FFD814;
  border-radius: 8px;
  height: 40px;
  box-shadow: 0px 2px 4px grey;
  border: 0px;
  font-size: 16px;
  width: 100%;
}

.cart-checkout-btn:hover {
  cursor: pointer;
  background-color: #d8ad43;
}

.review-btn-txt {
  text-decoration: none !important;
  color: black;
}

.review-helpful-btn {
  background-color: transparent;
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 2px 4px grey;
  z-index: 20;
}

.review-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  padding-bottom: 300px;

}

.review-form-title {
  font-size: 25px;
  padding-bottom: 50px;
}

.review-form-overall-rating {
  font-size: 20px;
  padding-bottom: 15px;
}

.review-form-headline {
  padding-bottom: 30px;
}

.review-form-add-headline {
  padding-bottom: 5px;
  font-size: 20px;
}

.review-form-headline-input {
  width: 90%;
  height: 30px;
  font-size: 15px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0px 1px 2px grey;
  border-color: grey;
}

.review-form-body {
  padding-bottom: 15px;
}

.review-form-add-body {
  padding-bottom: 5px;
  font-size: 20px;
}

.review-form-body-input {
  width: 90%;
  height: 70px;
  font-size: 15px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  font-family: inherit;
  box-shadow: 0px 1px 2px grey;
  border-color: grey;
}

.review-form-submit-btn {
  background-color: #FFD814;
  box-shadow: 0px 1px 2px grey;
  border: 0px;
  border-radius: 8px;
  padding: 5px;
}

.checkout-container {
  width: 100%;
  height: 50vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.checkout-box {
  width: 750px;
  height: fit-content;
  border: 2px solid #02763c;
  box-shadow: 0px 1px 2px grey;
  border-radius: 5px;
  padding: 20px;
  display: block;
  flex-direction: column;
}

.check-img {
  display: inline-block;
  height: 40px;
  width: 50px;
  margin-right: 5px;
}

.checkout-header {
  display: inline-block;
  color:#02763c;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 15px;
}

.checkout-sub {
  display: flex;
}