html {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%
}

body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0px;
  height: 100%;
}

.page {
  height: 100%;
  padding-bottom: 200px;
  background-color: #f2f2f2;
}

.session-form {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.login-img,
.signup-img {
  height: 100px;
  width: 200px;
  padding-bottom: 20px;
}

.login-form,
.signup-form {
  width: 400px;
  height: 350px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid lightgray;
  box-shadow: 0px 1px 2px grey;
}

.login-title,
.signup-title {
  font-size: 30px;
  padding-bottom: 20px;
}

.email-input,
.password-input,
.first-name-input,
.last-name-input,
.signup-email-input,
.password-email-input {
  background-color: #E8F0FE;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 97%;
  height: 30px;
  padding: 5px;
  font-size: 18px;
}

.email-input:focus,
.password-input:focus,
.first-name-input:focus,
.last-name-input:focus,
.signup-email-input:focus,
.password-email-input:focus {
  outline: none !important;
  border: 2px solid #f0c14b;
  box-shadow: 0px 0px 10px #f0c14b;
}

.sign-in-btn,
.login-demo,
.signup-btn {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
  height: 35px;
  background-color: #f0c14b;
  box-shadow: 0px 1px 2px grey;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.sign-in-btn:hover,
.login-demo:hover,
.signup-btn:hover {
  cursor: pointer;
  background-color: #d8ad43;
}

.new-title {
  flex-direction: column;
  width: 350px;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  text-align: center;
}

.login-signup-btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
}

.signup {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.signup-form {
  height: 100%;
}

.already-have-account {
  font-size: 18px;
}

.signup-login-btn {
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.signup-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: #131A22;
  color: white;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  height: 60px;
  width: 150px;
  margin-left: -250px;  
  align-items: flex-start;
}

.nav-location {
  width: 140px;
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-left: -350px;
}

.nav-deliver-to-user {
  font-size: 15px;
  width: 140px;
}

.nav-location-img {
  height: 20px;
  width: 17px;
  margin-top: 10px;
  margin-right: 2px;
}

.nav-deliver-to-city {
  font-size: 16px;
  font-weight: bolder;
}

.nav-searchbar {
  width: 450px;
  height: 40px;
  border-radius: 10px;
  margin-right: 50px;
}

.nav-searchbar:focus {
  outline: none !important;
  border: 2px solid #f0c14b;
  box-shadow: 0px 0px 10px #f0c14b;
}

.nav-flag-img {
  width: 60px;
  height: 60px;
  display: flex;
  margin-left: 110px;
  margin-right: -150px;
}

.nav-login {
  width: 200px;
  display: flex;
  text-decoration: none !important;
}

.login-link,
.signup-link {
  text-decoration: none!important;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.nav-name {
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
  margin-right: -200px;
}

.nav-hello-name {
  width: 5%;
  margin-left: -100px;
}

.nav-logout-btn {
  background-color: transparent;
  border: 0px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.nav-or {
  padding-left: 5px;
  padding-right: 5px;
}

.nav-returns-orders {
  font-size: 15px;
  width: 5%;
  margin-right: -200px;
  margin-left: -200px;
}


.nav-orders {
  font-weight: bolder;
  font-size: 16px;
}

.nav-cart {
  width: 1px;
  display: flex;
  padding-right: 20px;
  margin-right: -250px;
  margin-left: 10px;
  margin-top: 20px;
}

.nav-cart-img {
  width: 35px;
  margin-top: 20px;
}

.nav-cart-counter {
  font-size: 24px;
  font-weight: bold;
  color: #F08804;
  z-index: 100;
  position: absolute;
  margin-left: 45px;
  margin-top: 15px;
  
}

.nav-cart-word {
  line-height: 12px;
  font-size: 17px;
  font-weight: bolder;
  margin-left: 2px;
  line-height: 100px;
}

.nav-categories {
  background-color: #232F3E;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 35px;
  text-decoration: none !important;
}

.nav-categories {
  cursor: pointer;
}

.nav-all {
  text-decoration: none !important;
  color: white;
}

.list-items {
  background-color: #f2f2f2;
  display: inline-block;
  padding: 20px;
}

.home-prod-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.home-prod-link:hover {
  cursor: pointer
}

.home-grid {
  padding: 20px;
}

.footer {
  background-color: #131A22;
  color: white;
  display: flex;
  width: 100%;
  flex-direction: column;
  bottom: 0%;
  position: fixed;
}

  .footer-back-to-top {
    background-color: #37475A;
    display: flex;
    font-size: 15px;
    height: 30px;
    top: 0px;
    justify-content: center;
    align-items: center;
  }

  .footer-back-to-top:hover {
    cursor: pointer;
    background-color: #4B596A;
  }

  .footer-links {
    background-color: #232F3E;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
  }

  .footer-logo {
    height: 40px;
    width: 80px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer-img {
    height: 40px;
    width: 40px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer-description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }

  .product-container {
    background-color: #f2f2f2;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 200px;
    justify-content: center;
  }

  .prod-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
  }

  .product-img {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    height: 400px;
    width: 750px;
    border-radius: 5px;
  }

  .prod-img-home {
    display: flex;
    height: 200px;
    width: 200px;
    padding: 20px;
  }

  .product-about {
    flex-direction: column;
    display: flex;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 1px 2px grey;
    margin-right: 20px;
    width: 400px;
    height: 600px;
  }

  .product-name {
    display: flex;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .product-rating {
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #007185;
    border-bottom: 1px solid lightgray;
  }

  .product-price-container {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }

  .product-price {
    display: flex;
    color: #B12704;
    font-size: 16px;
  }

  .prime {
    display: flex;
    height: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .product-free-returns {
    display: flex;
    color: #007185;
    font-size: 15px;
  }

  .product-desc-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .product-description {
    font-size: 16px;
    line-height: 30px;
  }

  .product-checkout {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: transparent;
    padding: 20px;
    box-shadow: 0px 1px 2px grey;
    height: 50%;
  }

  .product-checkout-price {
    color: #B12704;
    font-size: 15px;
    padding-bottom: 10px;
  }

  .prime-checkout {
    height: 15px;
    padding-right: 10px;
  }

  .product-checkout-prime {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .product-checkout-free-returns {
    color: #007185;
    font-size: 15px;
  }

  .product-checkout-free-delivery {
    color: #007185;
    font-size: 14px;
    padding-top: 15px;
  }

  .product-checkout-delivery {
    color: #007185;
    font-size: 14px;
    padding-top: 10px;
  }

  .product-checkout-location-img {
    height: 15px;
  }

  .product-checkout-delivery {
    color: #007185;
    font-size: 12px;
    padding-bottom: 10px;
  }

  .product-stock {
    font-size: 18px;
    color: #007600;
    padding-top: 10px;
    padding-bottom: 15px
  }

  #qty {
    border-radius: 8px;
    background-color: #F0F2F2;
    border: 1px solid #D5D9D9;
    box-shadow: 0px 1px 2px grey;
    padding: 2px;
  }

  .product-add-to-cart {
    width: 80%;
    height: 35px;
    border-radius: 8px;
    background-color: #FFD814;
    box-shadow: 0px 2px 4px grey;
    padding: 5px;
    border: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .product-buy-now {
    width: 80%;
    height: 35px;
    border-radius: 8px;
    background-color: #FF9900;
    box-shadow: 0px 2px 4px grey;
    padding: 5px;
    border: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .product-add-to-cart:hover,
  .product-buy-now:hover {
    cursor: pointer;
  }

  .atc, 
  .buy-now {
    padding-top: 15px;
  }

  .product-ship-and-sold-by {
    padding-top: 20px;
    justify-content: center;
  }

  .write-review-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .review-this-product {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    display: flex;
}

  .share-your-thoughts {
    padding: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    display: flex;
  }

  .product-new-review-btn {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 0px;    
    box-shadow: 0px 2px 4px grey;
    text-decoration: none !important;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .write-review-link {
    text-decoration: none;
    font-size: 18px;
  }

  .cart-container {
    height: 100%;
    background-color: #f2f2f2;
    padding-bottom: 1000px;
  }

  .cart-left {
    float: left;
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    flex-direction: column;
    width: 70%;
    height: 100%;
    padding-bottom: 200px;
  }

  .cart-header {
    display: flex;
    height: 50px;
    padding-bottom: 10px;
    flex-direction: column;
  }

  .cart-heading {
    font-size: 34px;
    font-weight: bold;
    justify-content: left;
    display: flex;
  }

  .cart-price {
    font-size: 28px;
    font-weight: bold;
    display: flex;  
    justify-content: flex-end;
    padding-bottom: 40px;
    padding-right: 10px;
  }

  .checkout-product-item {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 2px 4px grey;
    margin-top: 20px;
  }

  .cart-empty {
    font-size: 30px;
    font-weight: bold;  
    padding: 10px;  
  }

  .cart-item-container {
    padding: 10px;
    margin-left: 10px;
  }

  .cart-item-head {
    display: block;
  }

  .cart-item-title {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
    display: flex;
  }

  .cart-item-img,
  .cart-item-prod-img {
    height: 200px;
    width: 300px;
    display: flex;
  }

  .cart-item-info {
    display: block;
    flex-direction: column;
  }

  .cart-item-prod-price {
    font-size: 18px;
    padding-top: 10px;
  }

  .cart-item-subtotal {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
  }

  .cart-item-stock {
    color: #007600;
    padding-top: 5px;
  }

  .cart-item-prime {
    padding-top: 5px;
    display: flex;
  }
  .cart-prime-img {
    height: 14px;
    padding-right: 5px;
  }

  .cart-free-returns {
    color: #007185;
  }

  .cart-gift {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .cart-gift-text {
    padding-top: 2px;
    font-size: 12px;
  }

  .cart-item-quantity {
    padding-bottom: 30px;
    display: flex;
    border-bottom: 1px solid lightgray;
  }

  .cart-qty {
    border-radius: 8px;
    background-color: #F0F2F2;
    box-shadow: 0px 2px 4px grey;
    padding: 3px;
  }

  .cart-item-delete,
  .cart-item-save-for-later {
    border: 0px;
    color: #007185;
    background-color: transparent;
  }

  .cart-item-delete:hover,
  .cart-item-save-for-later:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .cart-item-delete {
    margin-left: 10px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
  }

  .cart-subtotal-container {
    display: flex;
    font-size: 24px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 20px;
    justify-content: flex-end;
  }

  .cart-checkout-container {
    display: flex;

  }

  .cart-right {
    display: flex;
    height: 300px;
    width: 25%;
    border: 1px solid lightgray;
    margin-top: 50px;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px grey;
  }

  .cart-checkout-container {
    padding: 20px;
    flex-direction: column;
  }

  .cart-checkout-subtotal {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .cart-right-gift {
    display: flex;
    padding-bottom: 20px;
  }

  .cart-right-gift-text {
    font-size: 16px;
  }

  .cart-checkout-btn {
    background-color: #FFD814;
    border-radius: 8px;
    height: 40px;
    box-shadow: 0px 2px 4px grey;
    border: 0px;
    font-size: 16px;
    width: 100%;
  }

  .cart-checkout-btn:hover {
    cursor: pointer;
    background-color: #d8ad43;
  }

  .review-btn-txt {
    text-decoration: none !important;
    color: black;
  }

  .review-helpful-btn {
    background-color: transparent;
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 2px 4px grey;
    z-index: 20;
  }

.review-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  padding-bottom: 300px;

}

.review-form-title {
  font-size: 25px;
  padding-bottom: 50px;
}

.review-form-overall-rating {
  font-size: 20px;
  padding-bottom: 15px;
}

.review-form-headline {
  padding-bottom: 30px;
}

.review-form-add-headline {
  padding-bottom: 5px;
  font-size: 20px;
}

.review-form-headline-input {
  width: 90%;
  height: 30px;
  font-size: 15px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0px 1px 2px grey;
  border-color: grey;
}

.review-form-body {
  padding-bottom: 15px;
}

.review-form-add-body {
  padding-bottom: 5px;
  font-size: 20px;
}

.review-form-body-input {
  width: 90%;
  height: 70px;
  font-size: 15px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  font-family: inherit;
  box-shadow: 0px 1px 2px grey;
  border-color: grey;
}

.review-form-submit-btn {
  background-color: #FFD814;
  box-shadow: 0px 1px 2px grey;
  border: 0px;
  border-radius: 8px;
  padding: 5px;
}